$bg: black;
$fg: white;

:root {
  font-family: JetBrains Mono, Menlo, Consolas, Monaco, Liberation Mono,
    Lucida Console, monospace;
}

body {
  background: $bg;
  color: $fg;
}

a {
  color: $fg;
  text-decoration: underline;
  .icon {
    text-decoration: none;
  }
}

.posts {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  padding: unset;
}

.card {
  .card-title {
    text-decoration: underline solid $bg;
    transition: text-decoration 0.5s ease;
    font-size: larger;
    display: inline-block;
    &:hover {
      text-decoration: underline solid $fg !important;
    }
  }
  .card-details {
    text-decoration: none !important;
    display: inline-block;
  }
  border-radius: 10px;
  border-style: solid;
  border: 2px 2px 2px 2px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: $fg;
  .socials {
    a {
      margin-right: 10px;
    }
    display: flex;
    justify-content: center;
  }
  .copyright {
    display: flex;
    justify-content: center;
  }
}

main {
  text-align: center;
  padding: unset;
}

#navbar {
  text-align: center;
  justify-content: center;
  display: flex;
  gap: 10px;
  list-style: none;

  a {
    text-decoration: underline solid $bg;
    transition: text-decoration 0.5s ease;
    color: $fg;
    &:hover {
      text-decoration: underline solid $fg;
    }
  }
}
